.card {
  height: 10vh;
  width: 20vw;
  background: transparent;
  cursor: pointer;
}

.card.active {
  transform: scale(1.05);
}

.flipper {
  transform-style: preserve-3d;
  transition: all 600ms;
  position: relative;
  width: 100%;
  height: 100%;
}

.card.active .flipper {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 6px;
}

.card:hover .cardFront,
card:hover .cardBack {
  border-color: rgb(255, 103, 194);
  box-shadow: 0px 0px 10px rgb(255, 103, 194);
  transform: scale(1.15);
}

.cardBack {
  transform: rotateY(180deg);
  background-color: rgb(3, 43, 58);
}
.cardBack.found {
  transform: rotateY(180deg) scale(1.05);
  box-shadow: 0px 0px 10px rgb(103, 255, 250);
  border: 2px solid rgb(103, 255, 250);
}
.cardFront {
  background-color: rgb(76, 82, 87);
  border: 2px solid rgb(76, 82, 87);
}

@media (min-width: 640px) {
  .card {
    height: 15vh;
    width: 20vw;
    max-height : 120px;
  max-width : 200px;}
  .card.active {
    transform: scale(1.02);
  }
  .card:hover .cardFront,
card:hover .cardBack {
  transform: scale(1.05);
}
}